Thumbs.db
.DS_Store
.gradle
/build/
build-logic/build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
src/main/resources/application-local.properties
!src/main/resources/application-local.example.properties
